/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  color: white;
  padding: 18px 60px;
}

/* Logo */
.logo h2 {
  font-size: 28px;
  color: #38bdf8;
  cursor: pointer;
}

/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #38bdf8;
}